{% extends "layout.twig" %}

{% block title %}
    USRApp
{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">ZINOBE-TEST</h1>
    </div>
{% endblock %}