{% extends "layout.twig" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="col-6 offset-3">
        <div class="card-deck mb-6 pt-md-5 pb-md-4">
            <div class="card mb-12 shadow-sm">
                <div class="card-body">

                    {% if responseMessage %}

                        <div class="alert {% if responseMessage['response'] == true %} alert-success {% else %} alert-danger {% endif %}" role="alert">
                            {% if responseMessage['response'] == true %}
                                {{ responseMessage['reason'] }}
                            {% else %}
                                <h5 class="alert-heading">Validation:</h5>
                                {{ responseMessage['reason'] }}
                            {% endif %}

                        </div>
                    {% endif %}

                    <form action="/auth" method="post" class="form-signin">

                        <div class="text-center">
                            <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                        </div>

                        <div class="form-group">
                            <label for="email">Correo</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="@" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="***">
                        </div>
                        {#<div class="checkbox mb-3">#}
                        {#<label>#}
                        {#<input type="checkbox" value="remember-me"> Remember me#}
                        {#</label>#}
                        {#</div>#}
                        <button class="btn btn-lg btn-primary btn-block mt-md-2" type="submit">Ingresar</button>

                    </form>

                    <hr>
                    <a href="/register" class="btn btn-lg btn-block btn-outline-primary">Registrarse</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}