{% extends "layout.twig" %}

{% block title %}
    Registro
{% endblock %}

{% block content %}
    <div class="col-6 offset-3">
        <div class="card-deck mb-6 pt-md-5 pb-md-4">
            <div class="card mb-12 shadow-sm">
                <div class="card-body">

                    {% if responseMessage %}

                        <div class="alert {% if responseMessage['response'] == true %} alert-success {% else %} alert-danger {% endif %}" role="alert">
                            {% if responseMessage['response'] == true %}
                                {{ responseMessage['reason'] }}
                            {% else %}
                                <h5 class="alert-heading">Validation:</h5>
                                <ul>
                                    {% for validation in responseMessage['reason'] %}
                                        <li>{{ validation|raw }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </div>
                    {% endif %}

                    <form action="/register/user" method="post" class="form-signin">

                        <div class="text-center">
                            <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal">Registro Usuario</h1>
                        </div>

                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre">
                        </div>

                        <div class="form-group">
                            <label for="email">Correo</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="@">
                        </div>

                        <div class="form-group">
                            <label for="country">País</label>
                            <select name="country" id="country" class="form-control">
                                <option value="">-- Seleccione un País</option>
                                {% for country in countryList %}
                                    <option value="{{ country }}">{{ country }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="***">
                        </div>
                        {#<div class="checkbox mb-3">#}
                        {#<label>#}
                        {#<input type="checkbox" value="remember-me"> Remember me#}
                        {#</label>#}
                        {#</div>#}
                        <button class="btn btn-lg btn-primary btn-block mt-md-2" type="submit">Registrarse</button>

                    </form>

                    <hr>
                    <a href="/login" title="Iniciar sesión">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}